[Unit]
Description=Firstboot service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/etc/snapt_boot.sh

[Install]
WantedBy=multi-user.target
